<form>
	<fieldset>
		<legend>Add package request</legend>
		
		<div class="row">
			<div class="large-12 columns">
				<input type="text" placeholder="Name" ng-model="pkg.name" required/>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="text" placeholder="Repo path" ng-model="pkg.repo" required/>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="text" placeholder="Description" ng-model="pkg.description" required/>
			</div>
		</div>
		<div>
			<button ng-click="addPackage(pkg)">Sumbit add request</button>
		</div>
	</fieldset>
</form>
