<h3>Packages</h3>

<input type="text" class="form-control" id="filter" placeholder="Search for package" ng-model="packageFilter"/>

<table id="package-table" class="table table-hover table-condensed">
  <tbody>
    <tr ng-repeat="package in packages| filter:packageFilter | limitTo: 50">
      <td><a href="#/package/{{package.Repo}}">{{package.Name}}</a></td>
      <td><a href="http://{{package.Repo}}" target="_blank">{{package.Repo}}</a></td>
      <td>{{package.Description}}</td>
	  <td>{{package.Category}}</td>
    </tr>
  </tbody>
</table>