<!DOCTYPE html>
<html ng-app="gopher">
<head>
    <title>Gopher Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><a href="/admin/">Welcome, {{.user}}!</a> (<a href="{{.url}}">sign out</a>)</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Add/Update</h3>
            {{$keys := .keys}}
            <table id="package-table" class="table table-condensed table-hover">
                <tbody>
                {{range $index,$package := .pacakges}}
                {{$id := index $keys $index}}
                <tr>
                    <td>{{$index}}</td>
                    <td>{{$package.Name}}</td>
                    <td><a href="http://{{$package.Repo}}" target="_blank">{{$package.Repo}}</a></td>
                    <td>{{$package.Description}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="/admin/accept/?id={{$id.IntID}}" class="action btn btn-default btn-sm">Accept</a>
                            <a href="/admin/reject/?id={{$id.IntID}}" class="action btn btn-danger btn-sm">Reject</a>
                        </div>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td>No packages to approve!</td>
                </tr>
                {{end}}

                </tbody>
            </table>
        </div>
        <h3>Remove</h3>
        {{$keys := .removeKeys}}
        <table id="package-table" class="table table-condensed table-hover">
            <tbody>
            {{range $index,$removeRequest := .removeRequests}}
            {{$id := index $keys $index}}
            <tr>
                <td>{{$index}}</td>
                <td><a href="http://{{$removeRequest.Repo}}" target="_blank">{{$removeRequest.Repo}}</a></td>
                <td>{{$removeRequest.Reason}}</td>
                <td>
                    <ul class="button-group">
                        <li><a href="/admin/acceptremoval/?id={{$id.IntID}}&repo={{$removeRequest.Repo}}"
                               class="action btn btn-xs">Accept</a></li>
                        <li><a href="/admin/rejectremoval/?id={{$id.IntID}}"
                               class="action btn btn-danger btn-xs">Reject</a></li>
                    </ul>
                </td>
            </tr>
            {{else}}
            <tr>
                <td>No packages to approve!</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>

</div>

<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'lib/vendor/zepto' : 'lib/vendor/jquery') +
            '.js><\/script>')
</script>

<script>
    $('a.action').click(function () {
        $.get($(this).attr('href'));
        $(this).parents('tr').fadeOut("fast");
        return false;
    });
</script>
</body>
</html>
